body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}




h3,h2,h1,p ,h4{
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}
a:link,
a:visited {
  color: #007bff;
  text-decoration: none;
}

.wel
{
  margin-top: -7%;
  text-align: center;
}
a:hover{
  color: #00e1ff; 
  text-decoration: underline;
}
a:focus {
  color: #ff5050; 
  text-decoration: underline;
}

a:active {
  color: #50d9ff; 
  text-decoration: underline;
}
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

select, input[type="text"] {
  width: 200px;
  padding: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.box
{
  border-radius: 5px;
  position: relative;
  left: 30%;
  top: 50px;
  background-color: #000000;
}
.image2
{
  position: absolute;
  top: 1%;
  right: 36%;
  height: 80px;
  margin-top: 5px;
  width: 320px;

}
.image
{
  height:100%;
  width: 10%;
  position: absolute;
  top: 5%;
  right: 1%;
  margin-left: 3%;
}
.ea
{
  height:5%;
  width: 12%;
  margin-top: -2%;
}
.text
{
  color: #000000;
}