body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.cnt
{
  margin-left: 80%;
  position: relative;
  bottom: 15%;
  color: #000000;
}
.right
{
  position: relative;
  margin-top: -34%;
  left: 50%;
}
.nav-box
{
  background-color: #f5e6e6;
  border-radius: 50px;
  width: 150px;
  height: 55px;
  font-size: 13px;
}

.box-content
{
  margin-left: 8px;
  color: rgb(4, 4, 4);
}

h3,h2,h1,p ,h4,table{
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: #007bff;
}
a:link,
a:visited {
  color: #007bff;
  text-decoration: none;
}

.wel
{
  margin-top: -7%;
  text-align: center;
}

a:hover{
  color: rgb(246, 21, 246); 
  text-decoration: underline;
}
a:focus {
  color: #ff5050; 
  text-decoration: underline;
}

a:active {
  color: #50d9ff; 
  text-decoration: underline;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

select, input[type="text"] {
  width: 200px;
  padding: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.box
{
  border-radius: 5px;
  position: relative;
  left: 30%;
  top: 50px;
  background-color: #000000;
}
.image2
{
  position: absolute;
  top: 1%;
  right: 36%;
  height: 80px;
  margin-top: 5px;
  width: 320px;

}
.image
{
  height:100%;
  width: 10%;
  position: absolute;
  top: 5%;
  right: 1%;
  margin-left: 3%;
}
.ea
{
  height:5%;
  width: 12%;
  margin-top: -2%;
}
.text
{
  color: rgb(246, 21, 246);
}
.dash,.menu
{
  color: rgb(246, 21, 246);
  font-size:25px;
  font-weight:600;
}
.act
{
  padding-left:3px;
  z-index: 1;
  padding-top: 5px;
}
.menu-item{
  margin: 5px 0px 5px 0;
  margin-top: 5%;
}

.menu-box
{
  text-align: left;
  margin-left: 20%;
}

.main{
  background-color:#f5e6e6;
  border-radius: 20px;
}
button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
span
{
    background: #009688;
    height:100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index:-1;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.noone
{
  position: relative;
  top: -20px;
  display: none;
}


.counter-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #9400D3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.counter-value {
  font-size: 24px;
  font-weight: bold;
  color: #9400D3;
}
